<body>
    <div classs="row">
        <div class="col-md-6 container jumbotron">
            <center><h1 class="container">MBR Application Tracking</h1></center><br>
             <!-- Login form of MBR portal -->
            <center>
                <div class="form-group">
                    <b><label>Application ID</label></b><br>
                    <label id="ApplicationID" name="ApplicationID">A0001</label>
                </div>
                <div class="form-group">
                    <b><label>Application Status</label></b><br>
                    <label id="Status" name="Status">Pending</label>
                </div>
                <hr>
                <center><h1 class="container">Applicant Details</h1></center><br>
                <div class="form-group">
                    <b><label>Name</label></b><br>
                    <label id="Name" name="Name">Shrey Amin</label>
                </div>
                <div class="form-group">
                    <b><label>Mailing Address</label></b><br>
                    <label id="Address" name="Address">Quinpool Towers</label>
                </div>
                <div class="form-group">
                    <b><label>Email Address</label></b><br>
                    <label id="Email" name="Email">shrey@gmail.com</label>
                </div>
                <div class="form-group">
                    <b><label>Phone</label></b><br>
                    <label id="Phone" name="Phone">9028881234</label>
                </div>
                <div class="form-group">
                    <b><label>Employer Information</label></b><br>
                    <label id="Employer" name="Employer">DAL</label>
                </div>
            </center>
      </div>
    </div>
</body>