<div class="container" style="background-color: blue; margin-top: 5%">
        <div class = "jumbotron" style="background-color: lightgray">
   
        
    <h1 class="display-4 text-center">Mortgage Form</h1>
   
        
    <br>
    <div class="row text-center">

            <!-- COLUMN 1 -->
            <div class="col-sm-4"></div>
          
            <!-- COLUMN 2 -->
            <div class="col-sm-4">
          
                <form id="kemcho">

                    <p class="text-center" id="user" name="user"><%=req.session.userid%></p>
                    <div class="form-group">
                      <label for="mid"><strong>Mortgage Id:</strong></label>
                      <input type="mid" name="mid" class="form-control" id="mid">
                    </div>
                
                    <div class="form-group">
                      <label for="lnk"><strong>Link:</strong></label>
                      <input type="lnk" name="lnk" class="form-control" id="lnk">
                      <p class="text-danger" id="linkTest"></p>
                    </div>
                
                    <br>
                    <button type="submit" class="btn btn-primary">Accept</button>
                  </form>
          
            </div>
          
            <!-- COLUMN 3 -->
            <div class="col-sm-4"></div>
            <!--Login FORM-->
          
          </div>
          
</div>
</div>
    </div>

    <p id="result"></p>
    <script type="text/javascript">

$(document).ready(function(){
    $('#kemcho').submit(function(e){
      var m = $('#mid').val();
      var name = $('#user').text();
      var webserviceurl = $('#lnk').val();

      console.log(webserviceurl)
      e.preventDefault();
     $.ajax({
            url: 'http://localhost:1338/validateApplication',
            type: 'POST', 
            data: {
                    "mortgageID": m,
                    "employeeName": name,
                    "webServiceLink":webserviceurl,
                    "employer_name":"DAL"
                    },
            dataType: 'json',
            crossDomain:true,
            success: function(data){

              if(data.status == "ERROR")
              {
                $("#result").html("Error : " + data.error_message);
              }
              else{
                $("#result").html("Result : " + data.status);
              }
               }
          });
          e.preventDefault();
     });
  });



</script>